@font-face {
    font-family: "roboto-medium";
    src: url("Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto-light";
    src: url("Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("Roboto/Roboto-Bold.ttf");
}

body{
	margin: 0;
	/*background: #EEEEEE;*/
	font-family: "roboto-medium";
	background-image: -webkit-linear-gradient(top, #03A9F4 300px, #EEEEEE 300px, #EEEEEE 100%);
	background-image: -moz-linear-gradient(top, #03A9F4 300px, #EEEEEE 300px, #EEEEEE 100%);
	background-image: -ms-linear-gradient(top, #03A9F4 300px, #EEEEEE 300px, #EEEEEE 100%);
	background-image: linear-gradient(top, #03A9F4 300px, #EEEEEE 300px, #EEEEEE 100%);
}

header, footer{
	background: #0277BD;
	z-index: 10;
}

.shadow{
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}

header{
	position: fixed;
	height: 60px;
	line-height: 60px;
	width: 100%;
	top: 0;

	-webkit-transition-property: font-size, padding;
	-webkit-transition-timing-function: linear;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-delay: .0s, .3s, .3s;
	
	-moz-transition-property: font-size, padding;
	-moz-transition-timing-function: linear;
	-moz-transition-duration: 0.3s;
	-moz-transition-delay: .3s;

	-ms-transition-property: font-size, padding;
	-ms-transition-timing-function: linear;
	-ms-transition-duration: 0.3s;
	-ms-transition-delay: .3s;

	/*transition: all 0.3s linear;*/
}

header[scroll="false"]{
	font-size: 50px;
	padding: 40px 0;
}

header[scroll="true"]{
	font-size: 24px;
	
}

h1{
	margin: auto;
	color: white;
	text-align: center;
	font-family: roboto-light;
	/*
	height: inherit;*/
	transition: inherit;
	font-size: inherit;
}

@media screen and (max-width: 1680px){
    .menu{
    	display: none;
    }
}

.menu{
	position: fixed;
	left: 4%;
	top: 39%;

	background: white;
	width: 240px;
	padding: 6px 0;
}

.menu li{
	list-style-type: none;
	line-height: 40px;
	padding: 6px 0;
	margin-left: 0;

	padding-left: 72px;
	background-size: 40px;
	background-position: 16px 50%;
}
.menu li:hover{
	background-color: #EEEEEE;
}

.menu .iconed[activated='true']{
	color: #03A9F4;
}

.iconed{
	color: #757575;
	margin: 0;
	margin-left: 30px;
	line-height: 70px;
	font-family: roboto-medium;

	background-repeat: no-repeat;
}

.part-container{
	max-width: 1024px;
	width: 80%;
	margin: auto;
	background: white;
	border-radius: 2px;
}

@media screen and (max-width: 1024px){
    .part-container{
    	width: 100%;
    }
}

.part-top{
	height: 70px;
	border-bottom: 1px rgba(0,0,0,.15) solid;
}

.part-top p{
	background-position: 0 50%;
	padding-left: 60px;
}

.part-body{
	padding: 20px;
	padding-left: 160px;
	margin: auto;
	min-height: 160px;
	color: #212121;
}

.about{
	margin-top: 170px;
	padding-top: 70px;
	background-image: -webkit-linear-gradient(top, #03A9F4 142px, transparent 142px, transparent 100%);
	background-image: -moz-linear-gradient(top, #03A9F4 141px, transparent 141px, transparent 100%);
	background-image: -ms-linear-gradient(top, #03A9F4 141px, transparent 141px, transparent 100%);
	background-image: linear-gradient(top, #03A9F4 141px, transparent 141px, transparent 100%);
}
.icon-about{
	background-image: url("img/about.png");	
}

.about-text{
	background-size: 120px;
	background-position: 20px;
	background-repeat: no-repeat;
}

.exp{
	margin-top: 20px;
}

.icon-exp{
	background-image: url("img/exp.png");	
}

.skills{
	margin-top: 20px;
}

.icon-skills{
	background-image: url("img/skills.png");	
}

.part-bottom{
	padding: 10px 0;
}

#timeline{
	margin: 0;
	padding: 20px 30px;
}

#timeline li{
	margin: 0;
	list-style-type: none;
}

.legend{
	width: 18%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding-top: 20px;
}

.legend p{
	margin: 0;
	padding-right: 15px;
	text-align: center;
}

.circle{
	position: absolute;
	top: 15px;
	right: -32px;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	background: #EDEDED;
	border: #EDEDED solid 5px;
}

.circle[type='work']{
	background-image: url("img/work.png");
}

.circle[type='home']{
	background-image: url("img/home.png");
}

.circle[type='school']{
	background-image: url("img/univ.png");
}

.description{
	border-left: #EDEDED solid 10px;
	display: inline-block;
	width: calc(82% - 100px);
	padding: 10px 40px 0;
}

.summarize{
	color: #757575;
}

.summarize a{
	color: #03A9F4;
	text-decoration: none;
	border-bottom: 1px solid white;
	transition: border .3s ease;
	-webkit-transition: border .3s ease;
	-moz-transition: border .3s ease;
	-ms-transition: border .3s ease;
}

.summarize a:hover{
	border-bottom-color: #03A9F4;
}

.skill-container p{
	margin: 0;
	width: calc(20% - 72px);
	padding: 10px 34px;
	display: inline-block;
}

.progress-bar{
	display: inline-block;
	width: 76%;
	height: 4px;
	background: #DEDEDE;
	background-repeat: no-repeat;
	transition: background-size .6s ease;
	background-size: 0%;
}

.progress-bar[color='blue']{
	background-image: -webkit-linear-gradient(left, #03A9F4 100%, #03A9F4 100%, #03A9F4 100%);
	background-image: -moz-linear-gradient(left, #03A9F4 100%, #03A9F4 100%, #03A9F4 100%);
	background-image: -ms-linear-gradient(left, #03A9F4 100%, #03A9F4 100%, #03A9F4 100%);
	background-image: linear-gradient(left, #03A9F4 100%, #03A9F4 100%, #03A9F4 100%);
}

.progress-bar[color='red']{
	background-image: -webkit-linear-gradient(left, #FF3D00 100%, #FF3D00 100%, #FF3D00 100%);
	background-image: -moz-linear-gradient(left, #FF3D00 100%, #FF3D00 100%, #FF3D00 100%);
	background-image: -ms-linear-gradient(left, #FF3D00 100%, #FF3D00 100%, #FF3D00 100%);
	background-image: linear-gradient(left, #FF3D00 100%, #FF3D00 100%, #FF3D00 100%);
}

.progress-bar[color='yellow']{
	background-image: -webkit-linear-gradient(left, #FDD835 100%, #FDD835 100%, #FDD835 100%);
	background-image: -moz-linear-gradient(left, #FDD835 100%, #FDD835 100%, #FDD835 100%);
	background-image: -ms-linear-gradient(left, #FDD835 100%, #FDD835 100%, #FDD835 100%);
	background-image: linear-gradient(left, #FDD835 100%, #FDD835 100%, #FDD835 100%);
}

.progress-bar[color='orange']{
	background-image: -webkit-linear-gradient(left, #EF6C00 100%, #EF6C00 100%, #EF6C00 100%);
	background-image: -moz-linear-gradient(left, #EF6C00 100%, #EF6C00 100%, #EF6C00 100%);
	background-image: -ms-linear-gradient(left, #EF6C00 100%, #EF6C00 100%, #EF6C00 100%);
	background-image: linear-gradient(left, #EF6C00 100%, #EF6C00 100%, #EF6C00 100%);
}

.progress-bar[color='indigo']{
	background-image: -webkit-linear-gradient(left, #304FFE 100%, #304FFE 100%, #304FFE 100%);
	background-image: -moz-linear-gradient(left, #304FFE 100%, #304FFE 100%, #304FFE 100%);
	background-image: -ms-linear-gradient(left, #304FFE 100%, #304FFE 100%, #304FFE 100%);
	background-image: linear-gradient(left, #304FFE 100%, #304FFE 100%, #304FFE 100%);
}

.progress-bar[color='green']{
	background-image: -webkit-linear-gradient(left, #8BC34A 100%, #8BC34A 100%, #8BC34A 100%);
	background-image: -moz-linear-gradient(left, #8BC34A 100%, #8BC34A 100%, #8BC34A 100%);
	background-image: -ms-linear-gradient(left, #8BC34A 100%, #8BC34A 100%, #8BC34A 100%);
	background-image: linear-gradient(left, #8BC34A 100%, #8BC34A 100%, #8BC34A 100%);
}

.progress-bar[color='green-leaf']{
	background-image: -webkit-linear-gradient(left, #4CAF50 100%, #4CAF50 100%, #4CAF50 100%);
	background-image: -moz-linear-gradient(left, #4CAF50 100%, #4CAF50 100%, #4CAF50 100%);
	background-image: -ms-linear-gradient(left, #4CAF50 100%, #4CAF50 100%, #4CAF50 100%);
	background-image: linear-gradient(left, #4CAF50 100%, #4CAF50 100%, #4CAF50 100%);
}

.progress-bar[color='cyan']{
	background-image: -webkit-linear-gradient(left, #00838F 100%, #00838F 100%, #00838F 100%);
	background-image: -moz-linear-gradient(left, #00838F 100%, #00838F 100%, #00838F 100%);
	background-image: -ms-linear-gradient(left, #00838F 100%, #00838F 100%, #00838F 100%);
	background-image: linear-gradient(left, #00838F 100%, #00838F 100%, #00838F 100%);
}

.progress-bar[color='purple']{
	background-image: -webkit-linear-gradient(left, #7E57C2 100%, #7E57C2 100%, #7E57C2 100%);
	background-image: -moz-linear-gradient(left, #7E57C2 100%, #7E57C2 100%, #7E57C2 100%);
	background-image: -ms-linear-gradient(left, #7E57C2 100%, #7E57C2 100%, #7E57C2 100%);
	background-image: linear-gradient(left, #7E57C2 100%, #7E57C2 100%, #7E57C2 100%);
}

.progress-bar[color='black']{
	background-image: -webkit-linear-gradient(left, #232323 100%, #232323 100%, #232323 100%);
	background-image: -moz-linear-gradient(left, #232323 100%, #232323 100%, #232323 100%);
	background-image: -ms-linear-gradient(left, #232323 100%, #232323 100%, #232323 100%);
	background-image: linear-gradient(left, #232323 100%, #232323 100%, #232323 100%);
}

.progress-bar[color='dark-blue']{
	background-image: -webkit-linear-gradient(left, #0277BD 100%, #0277BD 100%, #0277BD 100%);
	background-image: -moz-linear-gradient(left, #0277BD 100%, #0277BD 100%, #0277BD 100%);
	background-image: -ms-linear-gradient(left, #0277BD 100%, #0277BD 100%, #0277BD 100%);
	background-image: linear-gradient(left, #0277BD 100%, #0277BD 100%, #0277BD 100%);
}

footer{
	text-align: center;
	margin-top: 20px;
	padding: 10px 0 6px;
}

.social{
	height: 60px;
	width: 60px;
	background-size: 60px;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 20px;
}

.linkedin{
	background-image: url("img/linkedin.png");
}

.github{
	background-image: url("img/github.png");
}